*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 800px;
    margin: 20px auto;
    border: 2px solid #800000;
}
#nav-menu {
    
}
#nav-menu ul{
    display: grid;
    grid-template: auto/ repeat(5, 1fr);
    background-color: #800000;
}
#nav-menu ul li {
    list-style: none;
    position: relative;
    width: 159px;
    /* display: block; */
    text-align: center;
    height: 50px;
    padding-top: 15px;
  
}
#nav-menu ul li a{
    text-decoration: none;
    color: white;
}
#nav-menu ul ul{
    display: none;
    top: 100%;
    position: absolute;

}
#nav-menu ul li:hover ul{
    display: block;
}
#nav-menu ul li a:hover{
    color: blue;
}
.last-item a{
    width: 190px;
}
