*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template: auto auto auto / auto;
    border: 2px solid #800000;
    width: 800px;
    margin: 20px auto;
}
/* header */
header{
    grid-row: 1/2;
    grid-column: 1/span 1;

}
header img{
    float: left;
    padding: 20px 20px;
}
header h2{
    font-size: 200%;
    padding: 10px 10px;
    color: orangered;
    text-indent: 30px;
}
header h3{
    font-size: 120%;
    color: green;
    text-indent: 30px;
    border-bottom: 2px solid #800000;
    padding-bottom: 20px;
}
/* main */
main{
    grid-row: 2/3;
    grid-column: 1 /span 1;
    display: grid;
    grid-template: auto / auto auto ;
    padding: 10px 20px;
    column-gap: 20px;
}
aside{
    grid-row: 1/2;
    grid-column: 1 / 2;
}
article{
    grid-row: 1 / span 1;
    grid-column: 2/3;
}
#speaker{
    border-bottom: 2px solid #800000;
}
#ticket{
    border-top: 2px solid #800000;
}
/* footer */
footer{
    grid-row: 3/4;
    grid-column: 1 / span 1;
}
footer p{
    text-align: center;
    background-color: #800000;
    color: white;
    padding: 10px 0;
}