/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}
html {
    background-color: #ffffff;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

/* the styles for the header */
header img {
	float: left;
    padding-left: 30px;
    padding-right: 30px;
}
header h2 {
    /*font-size: 170%;*/
    color: #800000;
    top: 30px;
}
header h3 {
    /*font-size: 130%;*/
    font-style: italic;
    top: 30px;
}
#shadow {
    text-shadow: 2px 2px 4px #800000;
}
header {
    background-image: -moz-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -o-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
}
/* the styles for the navigation bar */
#nav_menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
#nav_menu ul li {
    float: left;
    position: relative;
    display: block;
    width: 20%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #800000;
}
#nav_menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    text-align: center;
    background-color: #800000;
}
#nav_menu ul ul li {
    float: none;
    padding-left: 10px;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}
/* the styles for the section and aside */
section {
	clear: left;
    width: 525px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

section img {
    float: right;
    border: 1px solid black;
}
section h1 {
    font-size: 160%;
    color: #800000;
}
section h2 {
    font-size: 130%;
}
aside {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}
aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
aside img {
    padding-bottom: 1em;
}
/*main {
    padding-right: 30px;
    padding-left: 30px;
}*/
/*main h1 {
    font-size: 150%;
    border: 6px double black;
    border-radius: 10px;
    box-shadow: 4px 4px #931420;
    padding-top: .3em;
    padding-bottom: .3em;
}*/
aside h2 {
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
}
main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
main p {
    padding-bottom: .5em;
}

a:hover, a:focus {
    font-style: italic;
}
/* the styles for the footer */
footer {
    clear:both;
	text-align: center;
    background-color: #931420;
    color: #ffffff;
}
footer p {
    display: inline-block;
}
