/* So the HTML5 structural tags work in older browsers */
article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}
html {
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
}
/* the styles for the elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  max-width: 95vw;
  border: 5px solid #931420;
  background-color: #fffded;
  margin: 0 auto;
  line-height: 1.6;
}

/* the styles for the header */
.header {
  border-bottom: 3px solid #931420;
  padding-top: 1.5em;
  padding-bottom: 2em;
  background: linear-gradient(
    30deg,
    #f6bb7300,
    #f6bb7330,
    #ffffff50,
    #f6bb7380,
    #f6bb73
  );
}
.header__img {
  float: left;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}
.header__heading--1 {
  font-size: 170%;
  color: #800000;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.header__heading--2 {
  font-size: 130%;
  font-style: italic;
}
.shadow {
  text-shadow: 3px 3px 5px #800000;
}
/* the styles for nav bar */
#nav-menu {
  width: 100%;
  font-size: 80%;
}
#nav-menu a {
  color: white;
}
#nav-menu ul {
  display: flex;
  list-style: none;
  position: relative;
}
#nav-menu ul li {
  float: left;
  width: 80%;
  height: 3em;
}
#nav-menu ul li a {
  display: block;
  text-decoration: none;
  padding: 0.7em 1em;
  font-weight: bold;
  background-color: #800000;
  text-align: center;
}
#nav-menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 0;
}
#nav-menu ul ul li {
  position: relative;
}
#nav-menu ul li:hover > ul {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#nav-menu > ul::after {
  display: block;
  clear: both;
  content: "";
}
#nav-menu ul ul li ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
#nav-menu ul li:hover ul li:hover ul {
  width: 100%;
}
#nav-menu ul li.last-item ul li ul {
  position: absolute;
  top: 0;
  left: -100%;
}
#mobile-menu {
  display: none;
}

/* the styles for main */
main {
  clear: both;
}
.section__right {
  width: 60%;
  float: right;
  padding: 0 20px 20px 20px;
}
.aside__right {
  width: 30%;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}
p {
  padding-bottom: 0.5em;
}

li {
  padding-bottom: 0.35em;
}
section h1 {
  font-size: 150%;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
article {
  padding: 1.5em 0;
  border-top: 2px solid #800000;
  border-bottom: 2px solid #800000;
}
figure {
  float: right;
  margin: 0.5em 0.5em 0.5em 0;
}
figure img {
  border-radius: 3px;
  border: 1px solid black;
}
figcaption {
  display: block;
  border-bottom: 1px solid #800000;
}
article h2 {
  padding-top: 0;
  padding-bottom: 0.5em;
  color: #800000;
}
article h3 {
  font-size: 105%;
  padding-bottom: 0.5em;
  color: #800000;
}
.main__heading--1 {
  font-size: 130%;
  color: #800000;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.main__heading--2 {
  font-size: 130%;
  color: #800000;
  padding: 0.25em 0;
}
.main__text--2 {
  font-style: italic;
  padding: 0 2em;
}
.main__h3 {
  font-size: 105%;
}
.main__h3--link {
  text-decoration: none;
}
.main__h3--link:hover,
.main__h3--link:visited {
  font-style: italic;
}
/* the styles for the footer */
.footer {
  background-color: #931420;
  color: white;
  clear: both;
}
.footer__content {
  text-align: center;
}
.main__h3--time {
  font-size: 105%;
  color: #800000;
  padding-bottom: 0.25em;
}

footer p {
  padding: 1em 0;
}
.chauho {
  font-size: 12px;
  color: white;
  font-style: italic;
}
aside img {
  padding-bottom: 1em;
}
@media only screen and (max-width: 631px) {
  .aside__right,
  .section__right {
    float: none;
    margin: 0 auto;
  }
}
