article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}
html {
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* the styles for the elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  max-width: 95vw;
  background-color: #fffded;
  margin: 0 auto;
  line-height: 1.6;
  border: 6px solid #931420;
  border-radius: 8px;
  box-sizing: border-box;
}
.grid__container {
  display: grid;
  grid-template: repeat(4, auto) / repeat(12, 1fr);
}

/* the styles for the header */
.header {
  grid-row: 1/2;
  grid-column: 1 / span 12;
  border-bottom: 3px solid #931420;
  padding-top: 1.5em;
  padding-bottom: 2em;
  background: linear-gradient(
    30deg,
    #f6bb7300,
    #f6bb7330,
    #ffffff50,
    #f6bb7380,
    #f6bb73
  );
}
.header__img {
  float: left;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}
.header__heading--1 {
  font-size: 170%;
  color: #800000;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.header__heading--2 {
  font-size: 130%;
  font-style: italic;
}
.shadow {
  text-shadow: 3px 3px 5px #800000;
}
/* the styles for nav bar */
#nav-menu {
  grid-row: 2/3;
  grid-column: 1 / span 12;
  width: 100%;
  font-size: 80%;
}
#nav-menu a {
  display: block;
  color: white;
  height: 2.1em;
  flex: 0 0 100%;
  padding-top: 0.6em;
}
#nav-menu ul {
  display: flex;
  list-style: none;
  position: relative;
}
#nav-menu ul li {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 3em;
}
#nav-menu ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  background-color: #800000;
  text-align: center;
  height: 3em;
}
#nav-menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 0;
}
#nav-menu ul ul li {
  position: relative;
  width: 100%;
}
#nav-menu ul li:hover > ul {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#nav-menu > ul::after {
  display: block;
  clear: both;
  content: "";
}
#nav-menu ul ul li ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
#nav-menu ul li:hover ul li:hover ul {
  width: 100%;
}
#nav-menu ul li.last-item ul li ul {
  position: absolute;
  top: 0;
  left: -100%;
}
#mobile-menu {
  display: none;
}

/* the styles for main */
.main {
  grid-row: 3/4;
  grid-column: 1 / span 12;
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
}
.main__form {
  grid-row: 3/4;
  grid-column: 5 / span 10;
  line-height: 1.6;
  width: 60%;
}
.heading {
  color: #800000;
}
.btn {
  color: orangered;
  border-radius: 4px;
  padding: 0.1em 0.5em;
}
.btn--summit {
  margin-left: 10em;
}
.btn--reset {
  margin-left: 3em;
}
.main__form--3 input {
  margin-left: 7em;
}

fieldset {
  border: 1px solid #800000;
  border-radius: 5px;
  padding: 0.5em 2em;
}
label {
  float: left;
  margin-left: 2em;
  text-align: right;
  width: 9em;
}
select {
  border: 1px solid red;
  border-radius: 2px;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
input {
  border: 1px solid red;
  border-radius: 2px;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
legend {
  font-size: 1em;
  font-weight: bold;
  color: green;
}
.aside__left {
  grid-row: 3/4;
  grid-column: 2 / span 4;
  padding-left: 20px;
  padding-bottom: 20px;
}

.main__heading--1 {
  font-size: 130%;
  color: #800000;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.main__heading--2 {
  font-size: 130%;
  color: #800000;
  padding: 0.25em 0;
}
.main__text--2 {
  font-style: italic;
  padding: 0 2em;
}
.main__h3 {
  font-size: 105%;
}
.main__h3--link {
  text-decoration: none;
}
.main__h3--link:hover,
.main__h3--link:visited {
  font-style: italic;
}
/* the styles for the footer */
.footer {
  grid-row: 4/5;
  grid-column: 1 / span 12;
  background-color: #931420;
  color: white;
  clear: both;
}
.footer__content {
  text-align: center;
}
.main__h3--time {
  font-size: 105%;
  color: #800000;
  padding-bottom: 0.25em;
}

footer p {
  padding: 1em 0;
}
.chauho {
  font-size: 12px;
  color: white;
  font-style: italic;
}
aside img {
  padding-bottom: 1em;
}

@media only screen and (max-width: 632px) {
  #nav-menu {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  .main {
    margin: 0 auto;
  }
  .section__right {
    grid-row: 2/4;
    grid-column: 3 / span 12;
  }
  .aside__left {
    grid-row: 4/5;
    grid-column: 5 / span 12;
  }

  .section__right {
    width: 80%;
  }
}
