* {
  margin: 0;
  padding: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a:hover,
a:focus {
  font-style: italic;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
header {
  overflow: hidden;
}
header img {
  float: left;
  margin: 20px 0;
}
header h2 {
    padding: 20px 0;
  font-size: 170%;
  color: #800000;
  text-indent: 30px;
}

header h3 {
  font-size: 130%;
  font-style: italic;
  text-indent: 30px;
  
}
header h3 span {
    text-shadow: 2px -2px 2px #800000;
}
main {
    clear: left;
  }
  
  main h1 {
    font-size: 150%;
  }
  
  main h2 {
    font-size: 130%;
    color: #800000;
  }
  
  main h3 {
    font-size: 105%;
  }
  blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
  /* the styles for the footer */
  footer p {
    text-align: center;
  }