*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 800px;
    margin: 20px auto;
    border: 2px solid #800000;
    display: grid;
    grid-template: auto auto auto auto  / auto;
}
/* header */
header {
    grid-row: 1/2;
    grid-column: 1 / span 1;

}
header img{
    float: left;
    padding: 20px 20px;
}
header h2{
    font-size: 200%;
    text-indent: 30px;
    color: orangered;
    padding-top: 20px;
}
header h3{
    font-size: 150%;
    color: green;
    text-indent: 30px;
}
/* nav_menu */
#nav_menu {
    grid-row: 2/3;
    grid-column: 1 / span 1;
    
}
#nav_menu ul {
    display: grid;
    grid-template: auto / auto auto auto auto auto ;
    position: relative;
    background-color: #800000;
}
#nav_menu ul li {
    width: 155px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    list-style: none;
    
}
#nav_menu ul li a{
    color: white;
    text-decoration: none;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%
}
#nav_menu ul li a:hover{
    color: blue;
}
/* #nav_menu ul li:hover ul {
    display: block;
} */
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
/* main */
main{
    grid-row: 3/4;
    grid-column: 1 / span 1;
    display: grid;
    grid-template: auto / auto auto ;
    gap: 20px;
    padding: 20px 20px;
}
aside{
    grid-row: 1 / 2;
    grid-column: 1/2;
    

}
article{
    grid-row: 1 / span 1;
    grid-column: 2/3;
}
/* foote */
footer{
    background-color: #800000;
}
footer p{
    font-size: 100%;
    color: white;
    text-align: center;
    height: 30px;
    padding-top: 5px;
}
/* media quieries */
@media only screen and (max-width: 959px){
    header{
        font-size: 90%;
    }
    #mobile_menu {
        display: none;
    }

}
@media only screen and (max-width: 767px){
    #mobile_menu {
        grid-row: 2/3;
        grid-column: 1 / span 1;
        display: block;
    }
    #nav_menu{
        display: none;
    }
    main{
        display: grid;
        grid-template: auto auto / auto ;

    }
    aside{
        grid-row: 1/2;
        grid-column: 1 / span 1;

    }
    article{
        grid-row: 2/3;
        grid-column: 1/ span 1;
    }
}
