

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    max-width: 992px;
    margin: 15px auto;
    background-color: white;
    padding: 15px 25px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px black;
    box-sizing: border-box;
  }
  
header {
    width: 100%;
   padding-bottom: 1em;

  }
  header img {
    float: left;
  }
  
  header h2 {
    color: orange;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin-bottom: 0.25em;
  }
  
  header h3 {
    color: green;
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em;
  }

#nav-menu ul {
    list-style-type: none;
    position: relative;
  }
  #nav-menu ul li {
    float: left;
    width: 25%;
  }
  #nav-menu ul li a {
    display: block;
    text-decoration: none;
    padding: 0.7em 1em;
    font-weight: bold;
    background-color: yellowgreen;
    text-align: center;
  }
  
  #nav-menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
  }
  #nav-menu ul ul li {
    clear: both;
    position: relative;
  }
  #nav-menu ul li:hover > ul {
    display: block;
  }
  #nav-menu > ul::after {
    display: block;
    clear: both;
    content: "";
  }
  #nav-menu ul ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
  }
  #nav-menu ul li:hover ul li:hover ul li {
    width: 100%;
  }
  #nav-menu ul li.last-item ul li ul {
    position: absolute;
    top: 0;
    left: -100%;
  }
  
  #mobile-menu {
    display: none;
  }
  aside {
    float: right;
    width: 32%;
    margin-top: em;
    background-color: #ffebc6;
    box-sizing: border-box;
    padding: 25px;
  }
  a {
    font-weight: bold;
  }
  aside p {
    margin-top: 2.5em;
  }
  aside ul {
    margin-top: 1em;
  }
  aside ul li {
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 2 ;
  }
  article {
    width: 64%;
    box-sizing: border-box;
    padding-right: 25px;
    margin-top: 1em;
  }
  fieldset {
    width: 100%;
    margin: 2em 2em;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 0.35em 0.625em 0.75em;
  }
  
  legend {
    color: #09a009;
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  form label {
    width: 10em;
    float: left;
    text-align: right;
  }
  
  form input,
  form select {
    width: 12em;
    margin: 0 0 0.5em 0.5em;
    vertical-align: middle;
  }
  
  form input[type="submit"] {
    margin-left: 10em;
  }
  
  input#tickets_guest {
    width: 5em;
  }
  
  form .button {
    width: 7em;
  }
  
  form input:valid {
    border: 1px solid black;
  }
  form input:invalid {
    border: 1px solid red;
  }
  footer {
    width: 100%;
    margin-top: 1.5em;
    padding-top: 5px;
    border-top: 2px solid #facd8a;
  }
  footer p {
    text-align: right;
    font-size: 80%;
    font-style: italic;
  }
  

  
@media only screen and (max-width: 959px) {
  #nav-menu ul li a {
    font-size: 0.875em; 
  }
  article h1 {
    font-size: 1.5em;
  }
  article h2,
  aside h2 {
    font-size: 1.125em; 
  }
  article img {
    width: 77%;
  }
  article p {
    font-size: 1em;
  }
}


@media only screen and (max-width: 767px) {
  #nav-menu {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  .slicknav_menu {
    background-color: olivedrab !important;
  }
  body {
    width: 100%;
    margin: 0; 
    border: none; 
  }
  header,
  footer p {
    text-align: center;
  }
  header h2 {
    font-size: 1.625em; 
    margin: 0.4em 0 0.25em 0;
  }
  header h3 {
    font-size: 1em; 
    margin-left: 0;
  }
  header img {
    float: none;
  }
  section,
  article {
    width: 100%;
    float: none;
    margin-right: 2.0202%; 
    padding-right: 0;
  }
  article img {
    float: left;
    width: 50%;
    margin-right: 2%;
  }
  aside {
    width: 100%;
    float: none;
    margin-top: 0.5em;
  }
}


@media only screen and (max-width: 479px) {
  header h2 {
    font-size: 1.375em; 
  }
  header h3 {
    font-size: 0.8125em; 
  }
  p {
    font-size: 0.875em; 
  }
  section h1,
  article h1,
  section h2,
  aside h2 {
    font-size: 1em; 
  }
  section li,
  aside li {
    font-size: 0.875em; 
  }
  article img {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  aside h3 {
    font-size: 0.9375em; 
  }
  footer p {
    font-size: 0.6875em; 
  }
}
