/* So the HTML5 structural tags work in older browsers */

article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

html {
    background-color: #fff;
}


/* the styles for the elements */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

.container {
    padding: 0px 30px;
}


/* the styles for the header */

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(to right bottom, #f6bb73 0%, #f6bb73 30%, #fff 50%, #f6bb73 80%, #f6bb73 100%);
    .row {
        margin-left: 30px;
        text-align: center;
        h2 {
            margin: 0;
            font-size: 170%;
            color: #800000;
        }
        h3 {
            margin: 0;
            font-size: 130%;
            font-style: italic;
            span {
                text-shadow: 1px 1px 1px #800000;
            }
        }
    }
}

.header-wrap {
    padding-top: 1.5em;
    padding-bottom: 2em;
}


/* the styles for the section */

main {
    h1 {
        font-size: 150%;
        text-align: center;
        border-top: 3px solid #931420;
        border: 3px solid #931420;
        border-radius: 10px;
        box-shadow: 2px 5px #931420;
        padding: .3em 0em;
    }
    h2 {
        font-size: 130%;
        color: #800000;
        padding: .5em 0em .25em 0em;
    }
    h3 {
        font-size: 105%;
        padding-bottom: .25em;
    }
    img {
        padding-bottom: 1em;
    }
    p {
        padding-bottom: .5em;
    }
    blockquote {
        padding: 0em 2em;
    }
    ul {
        padding: 0em 0em .25em 1.25em;
    }
    li {
        padding-bottom: .35em;
    }
    a {
        font-style: italic;
    }
}


/* the styles for the footer */

footer {
    background-color: #931420;
    p {
        text-align: center;
        color: #fff;
        margin: 0;
        padding: 1em 0em;
    }
}