/* So the HTML5 structural tags work in older browsers */

* {
    margin: 0;
    padding: 0;
}

article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

html {
    background-color: #fff;
}


/* the styles for the elements */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 99%;
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}


/* the styles for the header */

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #931420;
    padding: 2em;
    background-image: linear-gradient(30deg, #f6bb73 0%, #fff 50%, #f6bb73 100%);
    .row {
        margin-left: 1.875em;
        h2 {
            font-size: 170%;
            color: #800000;
        }
        h3 {
            font-size: 130%;
            font-style: italic;
            span {
                text-shadow: 1px 1px 1px #800000;
            }
        }
    }
}


/* the styles for the navigation */

#mobile-menu {
    display: none;
}

.nav-menu ul {
    background-color: #800000;
    display: flex;
    justify-content: space-around;
    position: relative;
    li {
        list-style-type: none;
        width: 20%;
        text-align: center;
        a {
            color: #fff;
            text-decoration: none;
            padding: 0.875em 1.25em;
            display: block;
        }
        a:hover {
            background-color: #57070f;
            transition: 0.4s;
        }
    }
    li:hover>ul {
        display: block;
        transition: 0.4s;
    }
    ul {
        display: none;
        position: absolute;
        top: 100%;
        width: 20%;
        li {
            width: 100%;
            a {
                padding: 0.875em 0.5em;
            }
        }
    }
    .current a {
        color: yellow;
    }
}


/* the styles for the section */

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    clear: both;
    .content-left {
        width: 30%;
        padding: 0 0 1.25em 1.25em;
    }
    .content-rghit {
        width: 65%;
        padding: 0 1.25em 1.25em 1.25em;
        .speaker {
            .container {
                display: flex;
                border-bottom: 3px solid #931420;
                padding-bottom: 1em;
                justify-content: space-between;
                .content {
                    width: 55%;
                }
                .image {
                    width: 40%;
                }
                img {
                    width: 250px;
                    max-width: 100%;
                }
            }
        }
    }
    h1 {
        font-size: 150%;
        border-bottom: 3px solid #931420;
        padding: .3em 0em;
    }
    h2 {
        font-size: 130%;
        color: #800000;
        padding: .5em 0em .25em 0em;
    }
    h3 {
        font-size: 105%;
        padding-bottom: .25em;
    }
    img {
        padding-bottom: 1em;
    }
    p {
        padding-bottom: .5em;
    }
    blockquote {
        padding: 0em 2em;
    }
    ul {
        padding: 0em 0em .25em 1.25em;
    }
    li {
        padding-bottom: .35em;
    }
}


/* the styles for the footer */

footer {
    background-color: #931420;
    padding: 0 2em;
    p {
        text-align: center;
        color: #fff;
        padding: 1em 0em;
    }
}


/* the styles for the tablet */

@media screen and(max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        .row {
            margin: 0;
            h2,
            h3 {
                text-align: center;
            }
        }
    }
    #mobile-menu {
        display: block;
    }
    #nav-menu {
        display: none;
    }
    main {
        .speaker {}
    }
}


/* the styles for the mobile */

@media screen and (max-width: 612px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
        .content-left {
            width: 100%;
            padding: 0;
        }
        .content-rghit {
            width: 100%;
            padding: 0;
        }
    }
}