*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

body {
    width: 37.5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(147, 20, 32);
}

#header {
    width: 600px;
    height: 115px;
    padding: 24px 0px 32px 0px; 
    border-bottom: 3px solid rgb(147, 20, 32);
    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -moz-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -o-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

#header h2 {  
    color: #800000;
    font-size: 1.7rem;
}

#header h3 {
    font-size: 1.3rem;
    font-style: italic;
}

#header img {
    float: left;
    padding: 0px 30px 16px 30px;
}

#content {
    padding: 0px 30px 15px 30px;
    background-color: #fffded;
}

#content h2 {
    text-align: left;
    padding: 10px 0px 5px 0px;
    color: rgb(147, 20, 32);
    font-size: 1.3rem;
}

#content .sub {
    font-style: italic;
    padding: 10px 32px 0px 32px;
}

#content ul {
    padding-left: 24px;
    padding-bottom: 20px;
}

#content li {
    padding: 3px;
}

#content h1 {
    font-size: 24px;
    border-top: 2px solid rgb(147, 20, 32) ;
    border-bottom: 2px solid rgb(147, 20, 32);
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(147, 20, 32);
    padding: 6px 0px;
}

#content h3 {
    font-size: 1rem;
}

#content .contact {
    padding-top: 16px;
}

#footer {
   background-color: rgb(147, 20, 32);
}

#footer p {
    text-align: center;
    padding: 1rem 0;
    color: white;
}

#header .shadow {
    text-shadow: 2px -2px 2px rgb(147, 20, 32);
}

a:hover,
a:focus {
    font-style: italic;
}