/* So the HTML5 structural tags work in older browsers */

article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}


/* the styles for the elements */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 99%;
    max-width: 800px;
    margin: 0 auto;
    border: 3px solid #800000;
    background-color: #fffded;
    display: grid;
    grid-template: repeat(4, auto) / auto 1fr;
}

a:focus,
a:hover {
    font-style: italic;
}


/* the styles for the header */

header {
    grid-area: 1 / 1 / 2 / 3;
    border-bottom: 3px solid #800000;
    padding: 1.5em 0;
    background-image: -moz-linear-gradient( 30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
    background-image: -webkit-linear-gradient( 30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
    background-image: -o-linear-gradient( 30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
    background-image: linear-gradient( 30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
}

header h1 {
    color: #800000;
}

header h2 {
    font-style: italic;
}

header img {
    float: left;
    padding: 0 30px;
}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}


/* the styles for the navigation bar */

#mobile_menu {
    display: none;
}

nav {
    grid-area: 2 / 1 / 3 / 3;
}

.nav-menu ul {
    background-color: #800000;
    display: grid;
    grid-template: auto / repeat(4, auto);
    position: relative;
}

.nav-menu ul li {
    list-style-type: none;
    text-align: center;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.875em 1.25em;
    display: block;
}

.nav-menu ul li a:hover {
    background-color: #57070f;
    transition: 0.4s;
}

.nav-menu ul li:hover>ul {
    display: block;
    transition: 0.4s;
}

.nav-menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.nav-menu ul ul li {
    width: 100%;
}

.nav-menu ul ul li a {
    padding: 0.875em 0.5em;
}

.nav-menu ul li .current {
    color: yellow;
}


/* the styles for the section */

section {
    grid-area: 3 / 2 / 4 / 3;
    padding-left: 1em;
}

section h1 {
    color: #800000;
    font-size: 150%;
    padding: .5em 0 .25em;
}

section h2 {
    font-size: 120%;
    padding-bottom: .25em;
}

section p {
    padding-bottom: .5em;
}

section blockquote {
    padding: 0 2em;
    font-style: italic;
}

section ul {
    padding: 0 0 1.5em 1.25em;
}

section li {
    padding-bottom: .35em;
}

article {
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

article h1 {
    color: black;
}

article img {
    float: right;
    margin: 1em 0 1em 1em;
    border: 1px solid black;
}

aside {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 1em;
}

aside h1 {
    color: #800000;
    font-size: 150%;
    padding: .5em 0 .25em;
}

aside h2 {
    font-size: 120%;
    padding-bottom: .25em;
}

aside img {
    padding-bottom: 1em;
}


/* the speakers styles for exercise 5-1 */

#speakers {}


/* the speakers styles for exercise 5-2 
#speakers {
	border: 3px double #800000;
	margin-bottom: .75em;
	border-radius: 10px;
	box-shadow: 5px 5px;
	padding: .5em 0 .5em 2em;
	background-color: white;
}
*/


/* the styles for the footer */

footer {
    grid-area: 4 / 1 / 5 / 3;
    border-top: 3px solid #800000;
}

footer p {
    padding: 1em 0;
    text-align: center;
}


/* the styles for the tablet */

@media screen and (max-width: 767px) {
    body {
        display: grid;
        grid-template: repeat(5, auto) / auto;
    }
    header {
        grid-area: 1 / 1 / 2 / 2;
        padding: 1em;
    }
    header img {
        float: none;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header h1,
    h2 {
        text-align: center;
    }
    nav {
        grid-area: 2 / 1 / 3 / 2;
    }
    section {
        grid-area: 3 / 1 / 4 / 2;
        padding: 0 1em;
    }
    aside {
        grid-area: 4 / 1 / 5 / 2;
        padding: 0 1em;
    }
    aside h1,
    aside h2 {
        text-align: left;
    }
    footer {
        grid-area: 5 / 1 / 6 / 2;
    }
    #mobile_menu {
        display: block;
    }
    #nav_menu {
        display: none;
    }
}


/* the styles for the mobile */