article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

a:hover,
a:focus {
  font-style: italic;
}

h1 {
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin: 0;
}

p {
    padding-bottom: 0.5em;
}

a {
    background-color: transparent;
}

/* Header */
header {
    border-bottom: 3px solid #931420;
    padding: 1.5rem 0 2rem 0;
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -moz-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -o-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

}

header img {
    float: left;
    padding: 0 30px 1em 30px;
}

header h2 {
    font-size: 170;
    color: #800000;
    padding: 0.5em 0 0.25em;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow {
    text-shadow: 2px -2px 2px #800000;
}

/* Navigation menu */
#nav-menu ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style-type: none;
}

#nav-menu ul::after {
    content: "";
    display: block;
    clear: both;
}

#nav-menu ul li {
    float: left;
    width: 20%;
}

#nav-menu ul li ul {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
}

#nav-menu ul li:hover > ul {
    display: block;
}

#nav-menu ul li ul li {
    clear: both;
}

#nav-menu li.current a {
    color: yellow;
}

#nav-menu ul li a {
    text-decoration: none;
    display: block;
    padding: 1em 0;
    background-color: #800000;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Main */
main {
    clear: left;
    padding-bottom: 15px;
}

main section {
    width: 525px;
    float: right;
    padding: 0 20px 20px;
}

/* main h1 {
    font-size: 150%;
    margin: 14px 0;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #800000;
    padding: 0.3em 0;
} */

main section h1 {
    color: #800000;
}

main section h2 {
    font-size: 105%;
    padding: 0.5em 0px 0.25em;
}

main section h3 {
    font-size: 105%;
}

main section article {
    padding: 0.5em 0;
    /* border-top: 2px solid #800000;
    border-bottom: 2px solid #800000; */

}

main section article img {
    float: right;
    margin: 1em 0 1em 1em;
    border: 1px solid black;
}

main section article h2 {
    padding-top: 0;
    
}

main section article h3 {
    font-size: 105%;
    padding-bottom: 0.25em;
}

main blockquote {
    padding: 0.5em 2em 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 0.25em 1.25em;
}

main ul li {
    padding-bottom: 0.35em;
}

a:hover,
a:focus {
  font-style: italic;
}

/* Aside */
main aside {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

main aside h2 {
    font-size: 130%;
    color: #800000;
    padding: 0.5em 0 0.25em;
}

main aside h3 {
    font-size: 105%;
    padding-bottom: 0.25em;
}

main aside img {
    padding-bottom: 1em;
}

/* Footer */
footer {
    background-color: #931420;
    color: white;
    clear: both;
}

footer p {
    border-top: 3px solid #931420;
    text-align: center;
    padding: 1em 0;
}